{% extends "base.j2" %}
{% block title %}NHL top players{% endblock %}
{% block content %}
<h1>Players, who took part both in All-stars and Final games</h1>
<p>Click <a href="/update/">here</a> if you wish to update the data from the NHL API.</p>
{{c}}
{% endblock %}
